// .box-header {
//   display: flex;
//   flex-wrap: wrap;
// }
// .box-header>* {
//   flex: 1 1 160px;
// }

header {
  font-size: 25px;
  height: 83.24px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header>div {
  width: 6%;
  margin-left: 5%;
}
