@import 'reset';

$font-stack: Helvetica, Verdana, sans-serif;
$primary-color: black;

body {
  font-family: $font-stack;
  color: $primary-color;
}

header {
  background-color: #00adff;
}

h1 {
  font-size: 2em;
}

button {
  background-color: #0085BC;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.button-danger {
  background-color: red;
}

#main-frame {
  padding: 5%;
  font-size: 16px;
}

@import 'employee-list';
@import 'employee-form';
@import 'header';
